<h3>Statystyki</h3>

<div class="stats-container">
  Liczba wszystkich typów ogółem: <div class="stats-number stats-all">{{numberOfAll}}</div>
</div>
<div class="stats-container">
  Liczba wszystkich typów oczekujących: <div class="stats-number stats-waitings">{{numberOfWaitings}}</div>
</div>
<div class="stats-container">
  Liczba wszystkich typów rozliczonych: <div class="stats-number stats-settled">{{numberOfSettled}}</div>
</div>
<div class="stats-container">
  Liczba wszystkich typów trafionych: <div class="stats-number stats-positives">{{numberOfPositives}}</div>
</div>
<div class="stats-container">
  Liczba wszystkich typów nietrafionych: <div class="stats-number stats-negatives">{{numberOfNegatives}}</div>
</div>
<div class="stats-container">
  Liczba wszystkich typów zwróconych: <div class="stats-number stats-returned">{{numberOfReturned}}</div>
</div>
<div class="stats-container">
  Procent trafionych: <div class="stats-number stats-positives">{{percent}}</div>
</div>
<br>
{{> go-back}}